@charset "UTF-8";
/* -------background-------- */
/* --------tamaño de h------ */
/* --------tamaño de p------- */
/* --------galeria--------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

h2 {
  font-size: 31.2px;
  font-family: "Patua One", serif;
  font-weight: 400;
  color: #019C9E;
}

h4 {
  font-family: "Patua One", serif;
  font-weight: 400;
  color: #EF476F;
}

h1 {
  font-size: 45px;
  color: #019C9E;
}

p {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}

/* -------------Navegacion------------- */
.navbar {
  background-color: #EF476F !important;
  grid-area: navbar;
}
.navbar .navbar-nav {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
  color: #7df6f8;
}
.navbar .navbar-brand {
  color: #fff;
}
.navbar .navbar-brand:hover {
  color: #7df6f8;
}

/* --------- Fin navegacion------------------ */
/* ----------index----------------------- */
.row {
  padding: 0px 20px;
}

.titulo-juegosdemesa {
  padding-left: 20px;
  padding-top: 40px;
}

/* ---------sobre nosotros------------- */
.articulo1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.articulo1 .portada-texto {
  width: 100%;
  padding: px;
}
.articulo1 img {
  object-fit: cover;
  height: 100vh;
}

.info2 {
  padding: 60px 20px;
}

.articulo2 {
  display: grid;
  grid-template-columns: auto 2fr;
}
.articulo2 .texto-articulo2 {
  width: 100%;
  padding: 50px;
}
.articulo2 img {
  object-fit: cover;
  width: 700px;
  height: 700px;
  padding-bottom: 40px;
}

/* ----------------fin sobre nosotros-------------- */
/* ----------------Video Index--------------------- */
.videito {
  position: relative;
  display: grid;
  grid-template-columns: 800px auto;
  border-bottom: #ff3967 solid;
  border-top: #ff3967 solid;
  background-color: #ff3967;
}
.videito .texto-video {
  position: relative;
  max-width: 100%;
  padding: 20px;
  color: #fff;
}
.videito .video {
  width: 800px;
  height: 450px;
}
.videito .texto-video p {
  font-size: 20px;
}
.videito .texto-video button {
  font-size: 20px;
  position: absolute;
  left: 20px;
  bottom: 50px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  display: inline-block;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 17px;
  overflow: hidden;
  background: #019C9E;
  color: white;
  border-radius: 5px;
}
.videito .texto-video button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  color: #fff;
}
.videito .texto-video button:hover span {
  color: #fff;
}
.videito .texto-video button::before,
.videito .texto-video button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.videito .texto-video button::before {
  content: "";
  background: #f67996;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
.videito .texto-video button:hover::before {
  transform: translate3d(100%, 0, 0);
}

/* ---------------fin video index-------------- */
/* ---------------lista de juegos 1--------------- */
.card-producto {
  display: flex;
  gap: 40px;
  margin: 10px;
  overflow-x: hidden;
  padding-top: 40px;
}
.card-producto .card2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 500px;
  height: 350px;
  margin-bottom: 25px;
  border: 2px solid #EF476F;
  border-radius: 20px;
  background-color: #FCFCFC;
  box-shadow: 0 1px 8px;
  transition: 0.7s;
  overflow: hidden;
}
.card-producto .card2 img {
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
  height: 70%;
  object-fit: cover;
}
.card-producto .card2 h2 {
  font-size: 24px;
  margin: 20px;
  width: fit-content;
  white-space: wrap;
}
.card-producto .card2:hover {
  background-color: #EF476F;
  box-shadow: 0 1px 20px;
  z-index: 100px;
}
.card-producto .card2:hover h2 {
  color: #7df6f8;
}

/* -------------Galeria----------------- */
.texto-galeria {
  padding: 20px;
}

.galeria-conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  padding: 20px;
  grid-template-areas: "cthulhu cthulhu catan taco " "censj dados dados gaia " "censj gaia2 gaia2 hdp " "random2 melomano reino reino " "random2 random1 random1 monopoly ";
}
.galeria-conteiner .cthulhu {
  border: #25b3b6 solid;
  grid-area: cthulhu;
}
.galeria-conteiner .catan {
  border: #25b3b6 solid;
  grid-area: catan;
}
.galeria-conteiner .censj {
  border: #25b3b6 solid;
  grid-area: censj;
}
.galeria-conteiner .dados {
  border: #25b3b6 solid;
  grid-area: dados;
}
.galeria-conteiner .dyd {
  border: #25b3b6 solid;
  grid-area: dados;
}
.galeria-conteiner .gaia {
  border: #25b3b6 solid;
  grid-area: gaia;
}
.galeria-conteiner .gaia2 {
  border: #25b3b6 solid;
  grid-area: gaia2;
}
.galeria-conteiner .hdp {
  border: #25b3b6 solid;
  grid-area: hdp;
}
.galeria-conteiner .random2 {
  border: #25b3b6 solid;
  grid-area: random2;
}
.galeria-conteiner .melomano {
  border: #25b3b6 solid;
  grid-area: melomano;
}
.galeria-conteiner .reino {
  border: #25b3b6 solid;
  grid-area: reino;
}
.galeria-conteiner .random1 {
  border: #25b3b6 solid;
  grid-area: random1;
}
.galeria-conteiner .monopoly {
  border: #25b3b6 solid;
  grid-area: monopoly;
}
.galeria-conteiner .taco {
  border: #25b3b6 solid;
  grid-area: taco;
}

.imagenes img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* -----------catalogo------------------ */
.catalogo {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas: "header header" "formulario juegos" "footer footer";
}

.products {
  grid-area: juegos;
  padding-top: 50px;
}
.products h1 {
  padding-left: 20px;
}

header {
  grid-area: header;
}

#lista-form {
  padding: 30px 20px;
}
#lista-form form {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 5px;
}

/* ----------------------contacto------------------------------ */
.contacto-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas: "header header" "contacto form" "footer footer";
}

.form-contacto {
  grid-area: form;
  padding: 20px;
}
.form-contacto p {
  padding-top: 14px;
}

.contacto-texto {
  grid-area: contacto;
  padding: 40px 20px;
}
.contacto-texto p {
  padding-top: 14px;
}

.form-contacto {
  display: grid;
  grid-template-columns: 100%;
}

form .formulario {
  display: grid;
  padding-bottom: 40px;
  padding-top: 20px;
}
form .formulario label {
  font-size: 18px;
  color: #000;
}
form .formulario input {
  color: #989898;
  background-color: none;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
  padding-right: 600px;
}
form .formulario input:focus {
  border: solid 2px #354B9A;
  outline: none;
}
form .formulario-mensaje {
  padding-bottom: 40px;
  display: grid;
}
form .formulario-mensaje label {
  font-size: 18px;
  color: #000;
}
form .formulario-mensaje input {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-right: 600px;
  color: #989898;
  background-color: none;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 16px;
}
form .formulario-mensaje input:focus {
  border: solid 2px #354B9A;
  outline: none;
}

.boton-contacto {
  width: 80px;
  height: 40px;
}

/* -------------footer-------------------- */
.footer-conteiner {
  display: flex;
  background-color: #EF476F;
  justify-content: space-between;
  align-items: center;
  height: 4.02rem;
  grid-area: footer;
}
.footer-conteiner .info-footer {
  margin-left: 20px;
}
.footer-conteiner .info-footer a {
  font-size: 1.2rem;
  color: #fff;
}
.footer-conteiner .redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer-conteiner .redes label {
  color: #fff;
  letter-spacing: 1px;
}
.footer-conteiner .redes .iconos-redes {
  display: flex;
  flex-direction: row;
}
.footer-conteiner .redes .iconos-redes .bxl-instagram-alt {
  font-size: 44px;
  color: #fff;
}
.footer-conteiner .redes .iconos-redes .bxl-facebook-circle {
  font-size: 44px;
  color: #fff;
}

/* -------------------fin footer------------------- */
/* ---------color navbar--------- */
.footer-conteiner {
  background-color: #EF476F;
}

.navbar {
  background-color: #EF476F !important;
}

/* -------background-------- */
/* --------tamaño de h------ */
/* --------tamaño de p------- */
/* --------galeria--------- */
/* ------------responsive---------------- */
@media (max-width: 1200px) {
  .articulo1 {
    display: block;
  }
  .articulo1 .portada-texto {
    width: 100%;
    padding: 50px;
  }
  .articulo1 .portada-texto h1 {
    font-size: 35px;
  }
  .articulo1 .portada-texto p {
    font-size: 20px;
  }
  .articulo1 img {
    object-fit: cover;
    height: 10%;
    width: 100%;
  }
  .info2 {
    padding: 20px 20px;
  }
  .info2 h1 {
    font-size: 35px;
  }
  .info2 p {
    font-size: 20px;
  }
  .articulo2 {
    display: block;
  }
  .articulo2 .texto-articulo2 {
    width: 100%;
    padding: 50px;
  }
  .articulo2 img {
    object-fit: cover;
    width: 100%;
    height: 700px;
  }
  .videito {
    position: relative;
    display: block;
    height: 800px;
  }
  .videito .texto-video button {
    font-size: 20px;
    position: absolute;
    left: 40px;
    bottom: -50px;
  }
  .videito .video {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 1100px) {
  /* --------checkbox catalogo--------- */
  .form-catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .catalogo {
    display: block;
  }
  .card-producto .card2 {
    height: 300px;
  }
  .card-producto .card2 img {
    width: 400px;
    height: 200px;
  }
}
/* --------fin checkbox catalogo--------- */
@media (max-width: 992px) {
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 20px;
  }
  /* --------video/index------- */
  .videito {
    position: relative;
    display: block;
    height: 700px;
  }
  .videito .texto-video p {
    font-size: 12px;
  }
  .videito .texto-video button {
    font-size: 20px;
    position: absolute;
    left: 40px;
    bottom: -50px;
  }
  /* --------fin video/index------ */
  /* ---------cards---------------- */
  .card-producto {
    display: flex;
    width: auto;
    height: auto;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 10px;
    padding-top: 40px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .card-producto .card2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 350px;
    height: 300px;
    margin-bottom: 25px;
    border: 2px solid #EF476F;
    border-radius: 20px;
    background-color: #FCFCFC;
    box-shadow: 0 1px 8px;
    transition: 0.7s;
  }
  .card-producto .card2 h2 {
    font: size 30px;
    justify-self: center;
    width: fit-content;
    height: 20px;
    font-weight: bold;
    align-self: center;
  }
  .card-producto .card2 img {
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    overflow: hidden;
    object-fit: cover;
    width: auto;
  }
  .card-producto .card2:hover {
    background-color: #EF476F;
    box-shadow: 0 1px 20px;
    z-index: 100px;
  }
  .card-producto .card2:hover h2 {
    color: #7df6f8;
  }
  /* ----------- fin cards---------------- */
  /* ------------sobre nosotros----------- */
  .articulo1 {
    display: block;
  }
  .articulo1 .portada-texto {
    width: 100%;
    padding: 20px;
  }
  .articulo1 .portada-texto h1 {
    font-size: 35px;
  }
  .articulo1 .portada-texto p {
    font-size: 12px;
  }
  .articulo1 img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
  .info2 {
    padding: 20px 20px;
  }
  .info2 h1 {
    font-size: 30px;
  }
  .info2 p {
    font-size: 12px;
  }
  .articulo2 {
    display: block;
  }
  .articulo2 .texto-articulo2 {
    width: 100%;
    padding: 20px;
  }
  .articulo2 .texto-articulo2 h1 {
    font-size: 30px;
  }
  .articulo2 .texto-articulo2 p {
    font-size: 12px;
  }
  .articulo2 img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
  /* -----------fin sobre nosotros -------   */
  /* ------------checkbox catalogo-------- */
  #lista-form .form-catalogo h4 {
    font-size: 1rem;
  }
  #lista-form .form-catalogo label {
    font-size: 0.7rem;
  }
  /* -----------fin checkbox catalogo--------- */
  .footer-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  .footer-conteiner .info-footer {
    display: none;
  }
  .footer-conteiner .redes {
    width: 100%;
    margin-left: 20px;
    justify-content: space-between;
  }
  .footer-conteiner .redes label {
    font-size: 8px;
  }
  .footer-conteiner .redes .iconos-redes {
    display: flex;
    flex-direction: row;
  }
  .footer-conteiner .redes .iconos-redes .bxl-instagram-alt {
    font-size: 24px;
  }
  .footer-conteiner .redes .iconos-redes .bxl-facebook-circle {
    font-size: 24px;
  }
  /* ------------fin footer---------------- */
  .contacto-grid {
    display: block;
  }
  .contacto-grid .contacto-contenedor {
    display: block;
  }
  .contacto-grid .contacto-contenedor .contacto-texto {
    width: 70%;
    margin-right: 40px;
  }
  .contacto-grid .contacto-contenedor .contacto-texto p {
    font-size: 20px;
    color: #105698;
    font-size: 32px;
    letter-spacing: 2px;
  }
  .contacto-grid form .formulario {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .contacto-grid form .formulario input {
    padding-right: 300px;
  }
  .contacto-grid form .formulario-mensaje input {
    padding-right: 385px;
  }
}
@media (max-width: 800px) {
  .row {
    padding-left: 20px;
  }
  .row h1 {
    font-size: 30px;
  }
  .row p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  /* ------------video/index-------------- */
  .videito {
    display: block;
    height: 760px;
  }
  .videito .texto-video button {
    font-weight: 400;
    padding: 2px 8px;
    left: 20px;
  }
  .videito .texto-video button span {
    font-size: 12px;
    bottom: 4px;
  }
  .videito .video {
    position: relative;
    width: 100%;
  }
  /* ----------fin video/index----------- */
  /* -------------sobre nosotros----------- */
  .articulo1 {
    display: block;
  }
  .articulo1 .portada-texto {
    width: 100%;
    padding: 20px;
  }
  .articulo1 .portada-texto h1 {
    font-size: 25px;
  }
  .articulo1 .portada-texto p {
    font-size: 8px;
  }
  .articulo1 img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  .info2 {
    padding: 20px 20px;
  }
  .info2 p {
    font-size: 8px;
  }
  .articulo2 {
    display: block;
  }
  .articulo2 .texto-articulo2 {
    width: 100%;
    padding: 20px;
  }
  .articulo2 .texto-articulo2 p {
    font-size: 8px;
  }
  .articulo2 img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  /* ----------fin sobre nosotros----------- */
  /* --------checkbox/catalogo----------- */
  .form-catalogo {
    display: block;
  }
  #lista-form form {
    padding: 10px;
  }
  /* --------fin checkbox/catalogo---------- */
  /* --------contacto----------------------- */
  .contacto-grid form .formulario {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .contacto-grid form .formulario input {
    padding-right: 100px;
  }
  .contacto-grid form .formulario-mensaje input {
    padding-right: 185px;
  }
  /* --------galeria----------------------- */
  .texto-galeria h1 {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .contacto-grid form .formulario {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .contacto-grid form .formulario input {
    padding-right: 0px;
  }
  .contacto-grid form .formulario-mensaje input {
    padding-right: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
