$size1:5rem,;
$size2: 3rem;

/* -------background-------- */
$background1: #0e7b7d; 
$background2: #EF476F;
$background3: #2d91cb;

$var1:100%;
$var2:50%;

/* --------tamaño de h------ */
$hsmall:30px;
$hregular: 35px;
$hlarge: 45px;

/* --------tamaño de p------- */
$pxsmall:8px;
$psmall:12px;
$pmedium:20px;
$plarge:24px;

/* --------galeria--------- */

$bordeg: #25b3b6 solid;


